
p{
  color:white;
}
h6
{
  color:grey;
}
body{
  background-color:black;
}
img{
  filter:grayscale(100%);
  width:100%;
}
img.hover
{
  filter:blur(20%);
}
@media (min-width:400px)
{
  img
  {
    max-width: 100%;
  }
}


.color
{
  filter:none;
}
.numberCircle {
    font: 30px Arial, sans-serif;

    width: 2em;
    height: 2em;
    box-sizing: initial;

    background: #fff;
    border: 0.1em solid #666;
    color: #666;
    text-align: center;
    border-radius: 50%;

    line-height: 2em;
    box-sizing: content-box;
}
a{
  font-size:2em;
  padding:10px;
}
nav{
  font-size:.5em;

}
