
p{
  color:white;
}
h6,h1
{
  color:grey;
}
body{
  background-color:black;
}
img{
  filter:grayscale(100%);
  width:100%;
}
.color
{
  filter:none;
}
.numberCircle {
    font: 30px Arial, sans-serif;
    margin-left:25px;

    width: 2em;
    height: 2em;
    box-sizing: initial;

    background: #fff;
    border: 0.1em solid #666;
    color: #666;
    text-align: center;
    border-radius: 50%;

    line-height: 2em;
    box-sizing: content-box;
}
.bloghead1
{
  display:none;
}

nav{
  font-size:1em;
}
.blog
{
  padding:10px;
}

.logo
{
font: 30px Arial, sans-serif;
text-decoration:none;
color:grey;
}
a{
  font-size:1.5em;
}
/*Mobile*/
@media (max-width:720px)
{
  img
  {
    width: 100%;
  }
/*  .bloghead1
  {
    display: inline;
    margin:8%;
  }
} */
  .bloghead2
  {
    display:none;
  }
}
