body{
  background:#6495ED;
  font-family:Helvetica;
}
h1
{
  font-family:"tablet-gothic-condensed";
  background-color:#ea2e49;
  color:#fff;
  width:150px;
  height:70px;
}
h2
{
font-family: "tablet-gothic", verdana, arial, sans-serif;
max-width: 300px;
font-size: 70px;
color:#fff;
margin-top:150px;
margin-left:50px;
}
p{
  font-size:20px;
  font-family:verdana;

  display:initial;

}
header{
  max-width: 300px;
}
.bar{
  background-color:black;
  width:130px;
  margin-left: 390px;
}


.pagewrapper
{

  width:800px;
  height:800px;
  background-color:#77c4d3;
  margin:250px;
  margin-top:50px;
  display:flex;
}
.sidebar
{
  background-color:#FF7F50;
  margin-left: 30px;
  margin-top:30px;
  font-size:20px;
  font-family:verdana;
}
h1,h2,h6,p,li{
  padding:10px;
}
header{
  display:flex;
}
